@CHARSET "UTF-8";

/** 全局样式 开始 **/

* {
	font-family: "微软雅黑";
}

body {
	/*background-color: #E3E3E3;*/
	background-image: url(../images/apple-bg.jpg);
	background-repeat: repeat;
	background-position: center;
	color: #444444;
}

div {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

ul {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	text-align: 0px;
	margin: 0px;
	padding: 0px;
}

ul li {
	margin: 0px;
	padding: 0px;
}

table {
	border-width: 0;
	border-color: rgb(0, 115, 234);
}

.global-a a {
	text-decoration: none;
}

.global-a a:link {
	color: rgb(0, 115, 234);
}

.global-a a:visited {
	color: rgb(255, 0, 132);
}

.global-a a:hover {
	color: rgb(255,255,255);
	background-color: rgb(0, 115, 234);
	cursor: pointer;
}
.global-a a:actived {
	color: rgb(255, 0, 132);
	background-color: rgb(255,255,255);
}

.tags-hover {
	color: rgb(255,255,255);
	background-color: rgb(0, 115, 234);
	cursor: pointer;
}
.tags-checked {
	color: rgb(255,255,255);
	background-color: rgb(0, 115, 234);
	cursor: pointer;
}

.input-label {
	height: 38px;
	color: rgb(0, 115, 234);
	background-color: rgb(255, 255, 255);
	border-color: #CCCCCC;
	border-style: solid;
	border-width: thin;
	font-size: 20px;
	text-align: center;
}

.input-text {
	height: 40px;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: thin;
	font-size: 20px;
}

.input-text-default {
	color: #BBBBBB;
}

.comment-style {
	border-style: dashed;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top-color: #444444;
	border-top-width: thin;
}

/** 全局样式 结束 **/

/** 工具栏样式 开始 **/

#div_top_bar {
	width: 100%;
	float: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000000;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	background-color: #464646;
	box-shadow: 0px 3px 6px rgba(70, 70, 70, 1);
	overflow: hidden;
}

#div_tool_bar {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#div_nav {
	color: rgb(255,255,255);
	width: auto;
	float: left;
	margin-left: inherit;
	margin-right: inherit;
	padding: inherit;
}

#div_topback {
	float: right;
	margin: auto;
	padding: 0;
	border-right: solid thin #252525;
	border-left: solid thin #252525;
}

.navbar div {
	float: left;
	margin: auto;
	border-left: solid thin #252525;
	cursor: default;
}

.navbar ul {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	text-align: 0px;
	margin: 0px;
	padding: 0px;
}

.navbar ul li {
	text-align: center;
	display: inline;
	margin: 0;
	padding: 0;
	border-right: solid thin #252525;
}

.navbar a {
	text-decoration: none;
	font-size: 14px;
	margin: 0;
	padding-top: auto;
	padding-bottom: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar a:link {
	margin: 0;
	color: #FFFFFF;
}

.navbar a:visited {
	margin: 0;
	color: #FFFFFF;
}

.navbar a:hover {
	margin: 0;
	color: #FFFFFF;
	background-color: #252525;
}
.navbar a:actived {
	margin: 0;
	color: #FFFFFF;
	background-color: #252525;
}

.comments_icon {
	width: 16px;
	height: 16px;
	background: url(../images/admin-bar-sprite.png);
	background-position: -2px -132px;
	background-repeat: no-repeat;
	background-color: transparent;
}
.new_post_icon {
	width: 16px;
	;
	height: 16px;
	;
	background: url(../images/admin-bar-sprite.png);
	background-position: -2px -180px;
	background-repeat: no-repeat;
	background-color: transparent;
}

/** 工具栏样式 结束 **/

/** 前台页面总体样式 开始 **/

/** 标题区样式 开始 **/

#div_container {
	background-color: #FFFFFF;
	width: 1000px;
	height: auto;
	min-height: 800px;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 3px 6px rgba(70, 70, 70, 1);
	overflow: hidden;
	float: none;
}

#div_header {
	float: none;
	width: 1000px;
	padding-left: 50px;
}

#div_main {
	width: 1000px;
	margin-top: 10px;
}

#nav_menu ul {
}

#nav_menu ul li {
	display: inline;
	text-align: center;
}

/** 标题区样式 结束 **/

/** 侧边栏样式 开始 **/

#div_sider {
	float: right;
	width: 200px;
	margin-right: 50px;
}

#div_search {
	float: none;
	width: 200px;
	height: 41px;
	width: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#button_search {
	float: right;
	height: 41px;
	width: 50px;
	overflow: hidden;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

#text_search {
	float: right;
	height: 39px;
	width: 149px;
	margin: 0;
	padding: 0;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: thin;
	border-right-width: 0;
	font-size: 18px;
}

.latest-style {
	margin-top: 10px;
	padding-left: 10px;
	border-style: dashed;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top-color: #444444;
	border-top-width: thin;
}

/** 侧边栏样式 结束 **/

/** 内容区样式 开始 **/

#div_content {
	width: 700px;
	margin-right: 20px;
	float: right;
}

/** 文章样式 开始 **/

.article-style {
	background-image: url(../images/content.jpg);
	background-repeat: repeat;
	padding: 20px;
	padding-top: 0;
	margin: 10px;
	box-shadow: 0px 3px 6px rgba(70, 70, 70, 1);
}

.article-author {
	font-size: 14px;
}

.article-other {
	font-size: 12px;
}

.manage-content-style {
	margin-left: 20px;
	padding: 0;
}

/** 文章样式 结束 **/

.post-button-style {
	float: left;
	height: 41px;
	width: 100px;
	overflow: hidden;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.post-input-style {
	float: left;
	height: 39px;
	width: 525px;
	margin: 0;
	padding: 0;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: thin;
	border-left-width: 0;
	font-size: 18px;
}

.add-tags-list {
	color: rgb(0, 115, 234);
	margin: 10px;
}

.add-tags-list ul {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	text-align: 0px;
	margin: 0px;
	padding: 0px;
}

.add-tags-list ul li {
	text-align: center;
	display: inline;
	margin: 10px;
	padding: 0;
}

/** 内容区样式 结束 **/

/** 前台页面总体样式 结束 **/

/** 页码样式 开始 **/

div.pagination {
	width: 100%;
	padding: 0px;
	margin-top: 10px;
	margin-right:-9px;
	font-size: 12px;
	text-align: center;
	float: right;
}

div.pagination ul {
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	text-align: 0px;
	margin: 0px;
	padding: 0px;
}

div.pagination ul li {
	text-align: center;
	display: inline;
	margin: 0px;
	padding: 0px;
}

div.pagination ul li a {
	padding: 0;
	margin: 0;
}

div.pagination span {
	padding: 0;
	margin: 0;
	text-align: center;
	/*overflow-style: marquee-line;*/
}

div.pagination span.current {
	padding: 0;
	margin: 0;
	font-weight: bold;
	/*background-color: rgb(0, 115, 234);*/
	color: rgb(255, 0, 132);
}

/*div.pagination span.disabled {
	padding: 0px;
	margin: 3px;
	color: #CCCCCC;
}*/

/*div.pagination a {
 padding: 2px 5px 2px 5px;
 margin: 2px;
 border: 1px solid #AAAADD;
 }

 /*div.pagination a:hover, div.pagination a:active {
 border: 1px solid #000099;
 color: #000;
 }*/

/*div.pagination span.current {
 padding: 2px 5px 2px 5px;
 margin: 2px;
 border: 1px solid rgb(0, 115, 234);
 font-weight: bold;
 background-color: rgb(0, 115, 234);
 color: #FFF;
 }

 div.pagination span.disabled {
 padding: 2px 5px 2px 5px;
 margin: 2px;
 border: 1px solid #CCCCCC;
 color: #CCCCCC;
 }*/
/** 页码样式 结束 **/
